/Images from model
Android App Project Executive Summary.docx
Android App Project Write-up.docx
/notification
/react-socket-web-push-notify
/cra-flask
/useAuth
backend/__pycache__/
backend/venv/
backend/psycopg2-2.8.6-cp39-cp39-win_amd64.whl
backend/__pycache__/app.cpython-37.pyc
backend/__pycache__/app.cpython-37.pyc
backend/__pycache__/app.cpython-37.pyc
backend/__pycache__/app.cpython-37.pyc
backend/__pycache__/models.cpython-37.pyc
backend/__pycache__/modules.cpython-37.pyc
backend/__pycache__/routes.cpython-37.pyc
.gitignore

projectar.zip
