/Images from model
Android App Project Executive Summary.docx
Android App Project Write-up.docx
/notification
/react-socket-web-push-notify
/cra-flask
/useAuth
backend/__pycache__/
backend/__pycache__/app.cpython-37.pyc
backend/__pycache__/app.cpython-37.pyc
backend/__pycache__/app.cpython-37.pyc
backend/__pycache__/app.cpython-37.pyc
backend/__pycache__/models.cpython-37.pyc
backend/__pycache__/modules.cpython-37.pyc
backend/__pycache__/routes.cpython-37.pyc
.gitignore

