.project{
  display:flex;
  flex-direction: row;
}
.left {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 100%;
  border-right:solid #ffee00;
  margin-right: 5px;
}
.left > button{
  margin:5px 5px 5px 0;
} 