.column{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.514);
}
.form-container .btn {
  /* background-color: #1cee00; */
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  margin: 10px 0px;
  opacity: 0.8;
}
.form-container .cancel {
  background-color: red;
}

.form-container input[type="text"]:focus {
  background-color: rgb(226, 226, 226);
  outline: none;
}
.date {
  background-color: #10292e;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

textarea {
  background-color: #f1f1f1;
  resize: none;
  outline: none;
  border: none;
  margin: 0px 0px 10px 0px;
}
textarea:focus {
  background-color: rgb(226, 226, 226);
  border: none;
}
.form-container .btn:hover,
.open-button:hover {
  color: #ffee00;
  opacity: 1;
}
.form-container input[type="text"] {
  width: 100%;
  padding: 5px;
  font-size: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
