.report-wrapper {
  color: black;
}

.report-editor {
  background-color: #0a1a1d;
  color: white;
}

.report-toolbar {
  background-color: green;
}
.ck-content .image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  min-width: 50px;
}
