.Side-menu-default {
  background-color: #10292e;
  color: #ffee00;
}
.Side-menu-default *:not(i) {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.Side-menu-default .divider {
  background-color: #0b1d20;
  color: #bfc8cc;
  text-transform: uppercase;
}
.Side-menu-default .item a {
  text-decoration: none;
  color: #ffee00;
}
.Side-menu-default .item.active {
  color: #f68887;
}
.Side-menu-default .item.active .children {
  color: #ffee00;
}
.Side-menu-default .item.active > .item-title > a {
  color: white;
}
.Side-menu-default .item:hover > .item-title {
  color: #f68887;
}
.Side-menu-default .item:hover > .item-title a {
  color: white;
}
.Side-menu-default .item.item-level-1:hover > .item-title {
  background-color: #2a6c7a;
}
.Side-menu-default .item.item-level-1:hover,
.Side-menu-default .item.item-level-1.active {
  border-left: 4px solid #ffee00;
}
