.Side-menu-custom {
  .divider {
    background-color: #ababab;
    font-weight: 600;
  }

  .item {
    background-color: #ccc;

    &.item-level-1 .item-label {
      font-style: italic;
    }

    &.item-level-2 .item-label {
      font-size: 10px;
    }
  }
}
