.slate {
  position: relative;

  /* max-height: 515px; */
  min-height: min-content;
  /* max-width: 800px; */
  min-width: min-content;
  padding: 5px;
  margin: 15px 0px;
  color: #000000;
  /* text-shadow: 1px 1px 1px rgba(199, 204, 134, 0.4); */
  border-radius: 5px;
  background-color: #adb7a9c2;

  -webkit-box-shadow: 0 8px 6px -6px black; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 8px 6px -6px black; /* Firefox 3.5 - 3.6 */
  box-shadow: 0 8px 6px -6px black; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

@media only screen and (max-width: 500px) {
  /* could go down */
  .slate {
    /* min-width: 250px;
    max-width: 250px; */
    min-height: max-content;
  }
}
