.toolbar {
  box-sizing: border-box;

  /* position:fixed; */
  display: flex;
  /* width: 100; */
  background: #ffee00;
  /* height: 6.5vh; */
  /* justify-content: flex-start; */
  align-items: center;
  min-height: max-content;

  position: relative;
  z-index: 100;
  -webkit-box-shadow: 0px 0 20px rgb(0, 0, 0, 10.8); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 0 20px rgb(0, 0, 0, 10.8); /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 0 20px rgb(0, 0, 0, 10.8); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.right {
  display: flex;
  align-items: center;
  margin-right: 3%;
  margin-left: auto;
  color: black;
}
.right > * {
  color: black;
}
