.slate {
  background-color: #faed25;
  max-height: 200px;
  max-width: 800px;

  /* width: max-content; */
  padding: 5px;
  color: #10292e;
  border-radius: 5px;

 

  -webkit-box-shadow: 0px 0 15px rgb(0, 0, 0, 10.8); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 0 15px rgb(0, 0, 0, 10.8); /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 0 20px rgb(0, 0, 0, 10.8); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
