* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(16, 41, 46, 0.3);
}

body::before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  -webkit-box-shadow: 0px 0 20px rgb(0, 0, 0, 10.8); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 0 20px rgb(0, 0, 0, 10.8); /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 0 20px rgb(0, 0, 0, 10.8); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  z-index: 100;
}
body {
  margin: 0;
}

.report-wrapper {
  color: black;
}

.report-editor {
  background-color: #0a1a1d;
  color: white;
}

.report-toolbar {
  background-color: green;
}
/* .ck-content .image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  min-width: 50px;
} */
.ck-editor__editable {
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  min-height: 450px !important;
  /* color: white; */
  font-weight: 300;
  background-color: #30303025 !important;
}
.ck-editor__editable:focus {
  outline: none !important;
}

.ck.ck-editor__editable > .ck-placeholder::before {
  color: white;
}
